body {
  margin: 10px;
}

span {
  border-width: 6px;
  border-color: #ff0000;
  border-style: dotted;
  border: 6px dotted #ff0000;
}

.divBoxMargin {
  /*display:inline;*/
  margin: 50px 0px 50px 20px;
  border: 5px solid #b200ff;
}

.divBoxPadding {
  display: block;
  text-align: center;
  border: 5px solid #ff0000;
}

.text-vmv-p {
  text-decoration: underline;
  color: #b200ff;
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
  text-transform: capitalize;
  font-style: oblique;
  font-weight: bold;
}

#layerFirst, #layerSecond, #layerThird {
  background: #71b8eb;
  width: 200px;
  height: 200px;
  border: 5px solid #0026ff;
  border-radius: 100px;
  text-align: center;
  line-height: 180px;
  z-index: 1;
}

#layerFirst {
  position: relative;
}

#layerSecond {
  position: absolute;
  left: 220px;
  top: 10px;
}

#layerThird {
  position: relative;
  left: 100px;
  top: -100px;
}
