
body {

}

*{
	margin:0;
	padding:0;
}



div.box01 a:link {
	color: red;
}


/*div.box01 a:visited {
	color: aqua;
}*/

div.box01 a:hover {
	color: #4800ff;
	text-decoration: none;
}

div.box01 a:active {
	color: red;
}

div a:active {
	color: #ffd800;
}

div a:visited {
	color: #4800ff;
}

//---------------------------------

.box02 p:first-letter {
	color:red;
	font-size: 1.3em;
}

:empty{
	font-size: 15px;
}

