/**{
	padding:0;
	margin:0;
}*/
.header {
  display: flex;
  height: 100px;
}

.box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border: 2px solid blue;
  height: auto;
}

.box > .item {
  border: 1px solid red;
  width: 120px;
  text-align: center;
  margin: 10px;
}

.box > .item img {
  display: block;
  width: 100%;
  padding: 0px;
}

.boxVMV {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border: 2px solid blue;
  justify-content: flex-start;
  padding: 10px;
}

.boxVMV > .itemVMV {
  border: 1px solid red;
  padding: 10px;
  margin: 10px;
}

.boxImage {
  display: flex;
  flex-direction: row;
  border: 1px solid red;
  margin: 10px;
}

.boxImage > .itemImage {
  border: 1px solid red;
  padding: 10px;
  margin: 10px;
  margin: 10px;
  width: 100%;
  align-content: center;
  justify-content: center;
}

.boxImage > .itemImage img {
  width: 100%;
}

.boxCenter {
  display: flex;
  height: 300px;
  border: 2px solid blue;
  justify-content: center;
  align-items: center;
}

.boxCenter > .itemCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid red;
  width: 80px;
  height: 100px;
}

.boxLocation {
  display: flex;
  border: 2px solid blue;
  justify-content: space-around;
}

.boxLocation > .itemLocation {
  background-color: #df6c6c;
  color: white;
  text-align: center;
  line-height: 100px;
  width: 100px;
  height: 100px;
  flex-grow: 1;
}

.boxLocation > .itemLocation:nth-last-of-type(2) {
  flex-grow: 3;
  padding: 0px 10px;
  border: 2px solid blue;
  background-color: #f2f2f2;
  color: black;
  font-weight: bold;
}

/*section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	//flex-flow: row wrap;
}

article{
	border:$border;
	//width:50%;
}

.myDiv .left, .myDiv .right {
	float:left;
	border:$border;
	width:50%;
	text-align:center;
}*/
