$border: 1px solid red;
$shadow-block: 0 1px 5px 1px #a8a8a8;

@font-face {
	font-family: Robotoslab;
	src: url(../../fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf );
	font-weight: bold;
}

body {
	//background: #f2f2f2;
}

