$border: 1px solid red;
$shadow-block: 0 1px 5px 1px #a8a8a8;

@font-face {
	font-family: Robotoslab;
	src: url(../../fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf );
	font-weight: bold;
}

body {
	background: #f2f2f2;
}

p {
	color: red;
}

.program {
	//float: left;
	display: block;
	overflow: auto;
	//-------------------
	margin-bottom: 30px;
	//border: $border;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 25px;
	background-color: #ffffff;
	padding: 2%;
	// Shadow block
	-webkit-box-shadow: $shadow-block;
	-moz-box-shadow: $shadow-block;
	box-shadow: $shadow-block;
}

.program:hover {
	box-shadow: 0px 0px 5px 10px rgba(0,0,0,0.75);
	transition: box-shadow .3s ease-out;
}

.left, .right {
	//border: $border;
	min-height: 20px;
}

.program > .left {
	float: left;
	width: 75%;
}

.program > .left > .content {
	display: block;
	width: 100%;
	//border: $border;
	min-height: 30px;
}

.program > .left img {
	float: left;
	display: inline-block;
	width: 20%;
	//height: 20px;
	//border: $border;
	min-height: 30px;
	//background-size:contain;
}

.program > .left > .title_course {
	float: left;
	//border: $border;
	width: 77%;
	margin-left: 3%;
	//
	font-family: Robotoslab, sans-serif;
}

.program > .left > .category {
	//clear: both;
	display: inline-block;
	font-family: Robotoslab, sans-serif;
	-webkit-font-smoothing: antialiased;
	//
	margin-left: 3%;
	margin-top: 5px;
	//border: $border;
}

.program > .left > .category:hover {
	//color: aqua;
}
//--------------------------------
.program > .right {
	float: left;
	width: 25%;
	padding: 5px;
}

.program > .right .tags a {
	border: 1px solid red;
	padding: 5px 10px;
	background: #fafafa;
	margin-right: 10px;
	color: darkgray;
	border-radius: 5px;
	border: 1px solid #f1eded;
}

.program > .right .tags a:hover {
	background: #f0f0f0;
	border: 1px solid #c7c7c7;
	text-decoration:none;
}

.program > .right .details {
	border: 1px solid #d74242;
	border-radius: 5px;
	background-color: transparent;
	padding: 5px 10px;
	margin-top: 20px;
	color: #d74242;
	font-size: 1em;
	-webkit-font-smoothing: antialiased;
	cursor: pointer;
	font-family: RobotoSlab,serif;
	float: right;
	margin-right: 10px;
	transition: all.3s ease-in-out;
	-ms-transition: all.3s ease-in-out;
	-o-transition: all.3s ease-in-out;
	-moz-transition: all.3s ease-in-out;
	-webkit-transition: all.3s ease-in-out;
	font-weight: normal;
}

.program > .right .details:hover {
	background-color: #d74242;
	color: white;
	text-decoration:none;
}

.program > .right .details:active {
	background-color: #a53131;
	border-color: #751319;
	color: white;
	font-weight:bold;
}
//----------------------------------




