/**{
	margin:0;
	padding:0;
}*/
div.box01 a:link {
  color: red;
}

/*div.box01 a:visited {
	color: aqua;
}*/
div.box01 a:hover {
  color: #4800ff;
  text-decoration: none;
}

div.box01 a:active {
  color: red;
}

div a:active {
  color: #ffd800;
}

div a:visited {
  color: #4800ff;
}

.box02 p:first-letter {
  color: red;
  font-size: 1.3em;
}

:empty {
  font-size: 15px;
}

.block {
  border: 1px solid red;
  margin: 0px;
  padding: 15px;
}

.block.block01 {
  border: 1px solid red;
}

.block.block02 {
  border: 1px solid red;
}

.block01, .block02 {
  display: block;
  padding: 5px 20px;
  float: left;
  border: 1px solid red;
  border-collapse: collapse;
}

.clear-block {
  clear: both;
}

.link {
  display: block;
  border: 1px solid red;
}

a.link01 {
  color: aqua;
}

a.link01:visited {
  color: #b6ff00;
  text-decoration: none;
}

/*a.link01:visited {
	color: red;
}*/
a.link01:hover {
  color: #ffd800;
  text-decoration: none;
}

a.link01:active {
  color: #000000;
  text-decoration: none;
}

.span_1 {
  float: left;
  padding-right: 50px;
}

.span_2 {
  display: block;
}

.p_vmv {
  display: inline-block;
  border: 1px solid red;
}

.spanListItem {
  display: list-item;
  border: 1px solid red;
}

.listDiv {
  display: inline-block;
}

.displayTable {
  display: table;
  margin-top: 15px;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  padding-right: 15px;
}

.listMenu {
  padding-top: 15px;
}

.listMenu li {
  display: inline-block;
  color: red;
  border: 1px solid red;
}

.child-p p:first-child {
  color: red;
  font-weight: bold;
}

.imageBeforeAfter p:before {
  content: url("https://itproger.com/img/favicon.ico");
  vertical-align: middle;
}

.imageBeforeAfter p:after {
  content: url("https://itproger.com/img/favicon.ico");
  vertical-align: middle;
}
